<div id="routineDiv" ng-controller="routineController" ng-keydown="listenKeys($event)" ng-click="listenClick($event)">
  <div id="Banner">
    <input type="button" value="🏠" ng-click="goHome()">
  </div>
  <button ng-click="newRoutine = 'New Routine'" 
    ng-style="{
      position : 'absolute',
      top:config.newRoutineButton.top, 
      left:config.newRoutineButton.left,
      height : 20
    }">
    Switch Routines
  </button>

  <div id="title" ng-model="routine" style="text-align : center; font-size:24px" ng-style="{
    'position' : 'absolute',
    top : config.titleDisplay.top,
    left : config.titleDisplay.left,
    width : config.titleDisplay.width,
    height : config.titleDisplay.height,
    overflow : hidden,
    'font-size' : config.titleDisplay.fontSize
  }">
    {{routine.name}}
  </div>
<!-- Containing Div for all of the mat displaying stuff -->
  <div ng-if="config.matDisplay.enabled">
    <!-- This is the creation of the floor -->
    <div ng-repeat="n in [0,1,2,3,4,5,6,7,8]"
      id="mat{{n}}"
      style="position: absolute; border-left: solid 1px; border-top: solid 1px; border-bottom: solid 1px; border-collapse: collapse; margin: 0px;"
      ng-style="{ top : config.matDisplay.top, 
        left : n*config.matDisplay.matWidth+config.matDisplay.left,
        height : config.matDisplay.matHeight,
        width : config.matDisplay.matWidth,
        'border-right' : $last ? 'solid 1px' : 0
      }">
    </div>

  <!-- Place the athletes on the floor -->
    <div ng-repeat="athleteCountPair in athletePositions" 
      ng-style="{
        'position': 'absolute',
        'left' : athleteCountPair.count.posx*config.matDisplay.matWidth*9+config.matDisplay.left, 
        'top' : athleteCountPair.count.posy*config.matDisplay.matHeight+config.matDisplay.top, 
        'z-index' : 0
      }"
      ng-mouseup="handleCountMouseclick($event)"
      data-drag="true"
      jqyoui-draggable="{onStart : 'startDragging()', onStop : 'stopDragging($event, $ui)', onDrag : 'onDrag($event, $ui)'}"
      id={{athleteCountPair.athlete.id}}
      oncontextmenu="return false" 
      title={{athleteCountPair.count.note}}>
      {{athleteCountPair.athlete.firstName}}
    </div>
    <!-- Create the title for the unused athlete tab -->
     <div ng-style="{
      left : 9*config.matDisplay.matWidth + config.matDisplay.left + 5,
      top : config.matDisplay.top,
      'position' : 'absolute'
      }">
      Unused Athletes:
    </div>
    <button ng-click="$parent.addingAthlete = {id : createID({prefix : 'A'})}" style="position: absolute; left: 1090px; top:30px;">Add Athlete
    </button>
    <!-- Displays the note/title for the current count -->
    <div ng-if="config.noteDisplay.enabled" ng-style="{
          'position' : 'absolute',
          left : config.noteDisplay.left,
          top : config.noteDisplay.top
          }">
      <input id="countNoteInput" ng-style="{
        'text-align' : 'center',
        width: 300,
        'font-size' : 24,
        height: 24,
        'border-style' : 'none',
        padding: 0,
        margin : 0
      }"
      ng-model="currentCountNote"
      ng-keyup="updateCountNote($event)">
    </div>
  </div>
<!-- Counts Input -->
  <div ng-if="config.countsInput.enabled" ng-style="{
      position : 'absolute',
      left: config.countsInput.left,
      top : config.countsInput.top,
      height : config.countsInput.height,
      width : config.countsInput.width
    }">
    Jump to Count: <input id="countInput" ng-keypress="countInputKeypress($event)" ng-style="{width : config.countsInput.width - 110}">
  </div>


<!-- Displays the current counts both in terms of 8 count : count, and the raw count) -->
  <div ng-if="config.numericDisplay.enabled">
    <div ng-style="{
      'position' : 'absolute',
      left : config.numericDisplay.left,
      top : config.numericDisplay.top,
      height : config.numericDisplay.height,
      'font-size' : config.numericDisplay.height
      }">
      Count - <label ng-bind="Math.floor((currentCount - 1) / 8) + 1"></label> :
      <label ng-bind="currentCount % 8 || 8"></label> (<label ng-bind="currentCount" ></label>)
    
    <!-- Arrows for incrementing/decrementing the counts -->
      <input type="image" src="./up.png" ng-click="jumpToCount(currentCount + 8)" ng-style="{
        height: config.numericDisplay.height / 2, 
        width: config.numericDisplay.height / 2,
        'position' : 'absolute',
        'font-size' : config.numericDisplay.height,
        left: '3.28em',
        top : '-0.3em'
      }"><input type="image" src="./down.png" ng-click="jumpToCount(currentCount - 8)" ng-style="{
        height: config.numericDisplay.height / 2, 
        width: config.numericDisplay.height / 2,
        'position' : 'absolute',
        'font-size' : config.numericDisplay.height,
        left: '3.28em',
        top : '0.9em'
      }">
      <input type="image" src="./up.png" ng-click="jumpToCount(currentCount + 1)" ng-style="{
        height: config.numericDisplay.height / 2, 
        width: config.numericDisplay.height / 2,
        'position' : 'absolute',
        'font-size' : config.numericDisplay.height,
        left: '4.55em',
        top : '-0.3em'
      }"><input type="image" src="./down.png" ng-click="jumpToCount(currentCount - 1)" ng-style="{
        height: config.numericDisplay.height / 2, 
        width: config.numericDisplay.height / 2,
        'position' : 'absolute',
        'font-size' : config.numericDisplay.height,
        left: '4.55em',
        top : '0.9em'
      }"> 
    </div>
  </div> 


 
  <button id="saveButton" ng-click="save()" ng-disabled="isSaving" ng-style="{
    'position' : 'absolute',
    left : config.saveButton.left,
    top : config.saveButton.top,
    height : config.saveButton.height,
    width : config.saveButton.width
  }">Save</button>
<!-- Begin single athlete display -->
  <div ng-show="viewingCount || addingAthlete || newRoutine" style="height: 100%; width: 100%; background-color: grey; opacity:0.1; z-index:1; position: absolute; top:0px; left: 0px;">
  </div>
  <div ng-show="viewingCount" style="z-index:2; height: 50%; width:50%; left: 25%; top: 25%; position: absolute; background-color: white; border: 1px solid black;">
    <div style="position: relative; height: 10%; background-color: darkgrey; font-size: 36px; border-bottom: 1px solid black; text-align: center;"> Athlete Information </div>
    First name: <input ng-model="viewingCountData.firstName"><br />
    Last Name: <input ng-model="viewingCountData.lastName"><br />
    <label style="font-size: 18px">Count Information</label><br />
    Loaded from: {{viewingCountData.count}} <br />
    Count note: <input ng-model="viewingCountData.note">
    <button style="position: absolute; bottom: 0%; right: 0%; height: 15%; width: 15%" ng-click="viewingCount = false">Cancel</button>
    <button style="position: absolute; bottom: 0%; left: 0%; height: 15%; width: 15%" ng-click="saveViewingCount()">Save</button>
  </div>
<!-- Horizontal and Vertical guide lines -->
  <div id="horizontalDrag" ng-show="isDragging" ng-style="{top : isDragging.top}" style="position: absolute; width : 100%; border-bottom: dotted 1px; height: 1px;"></div>
  <div id="verticalDrag" ng-show="isDragging" ng-style="{left : isDragging.left}" style="position: absolute; height : 100%; border-left: dotted 1px; width: 1px;"></div>

<!-- Add Athlete Prompt -->
  <div ng-show="addingAthlete" style="z-index:2; height: 50%; width: 50%; left: 25%; top: 25%; position: absolute; background-color: white; border: 1px solid black;">
    <div style="position: relative; height: 10%; background-color: darkgrey; font-size: 36px; border-bottom: 1px solid black; text-align: center;">New Athlete</div>
    <label> ID: {{addingAthlete.id}}</label> <br />
    First name: <input ng-model="addingAthlete.firstName"><br />
    Last Name: <input ng-model="addingAthlete.lastName"><br />
    <button style="position: absolute; bottom: 0%; height: 15%; width: 15%" ng-click="addAthlete()"> Save </button>
    <button style="position: absolute; bottom: 0%; height: 15%; width: 15%; right: 0%;" ng-click="addingAthlete = null"> Cancel </button>
  </div>

<!-- New Routine Prompt -->
  <div ng-show="newRoutine" style="z-index:2; height: 50%; width: 50%; left: 25%; top: 25%; position: absolute; background-color: white; border: 1px solid black;">
    <div style="position: relative; height: 10%; background-color: darkgrey; font-size: 36px; border-bottom: 1px solid black; text-align: center;">Switch Routines</div>
    Name of Routine: <input ng-model="newRoutine"><br />
    <button style="position: absolute; bottom: 0%; height: 15%; width: 15%" ng-click="addRoutine()"> Go </button>
    <button style="position: absolute; bottom: 0%; height: 15%; width: 15%; right: 0%;" ng-click="newRoutine = ''"> Cancel </button>
  </div>

<!-- Counts display as a grid -->
  <table ng-if="config.tableDisplay.enabled" style="border-collapse: collapse;" ng-style="{
    'position': 'absolute', 
    top : config.tableDisplay.top,
    left : config.tableDisplay.left
    }">
  <tr><th></th><th ng-repeat="n in [1,2,3,4,5,6,7,8]" style="text-align: center;">{{n}}</th></tr>
  <tr ng-repeat="m in _.range(config.tableDisplay.numRows)" ng-style="{height : config.tableDisplay.rowHeight}">
  <th ng-style="{width : config.tableDisplay.rowHeight}">{{(getOffsetCount(m,1) - 1)/8 + 1}}</th><td ng-repeat="n in [1,2,3,4,5,6,7,8]" style="padding: 0px"><span ng-bind="routine.notes[getOffsetCount(m,n)]" ng-click="jumpToCount(getOffsetCount(m,n))" style="border: 1px solid black; text-align: center; overflow: hidden; display: inline-block;"
  ng-style="{'background-color' : getOffsetCount(m,n) == currentCount ? 'lightgreen' : 'white', width : config.tableDisplay.cellWidth, height : config.tableDisplay.rowHeight - 2}"></span></td>
  </tr>
  </table>

<!-- Display counts as a spreadsheet MUSTDO: Multiselect lists-->
  <div id="spreadsheetDisplay" ng-if="config.spreadsheetDisplay.enabled" ng-style="{
    'position' : 'absolute',
    left : config.spreadsheetDisplay.left,
    top : config.spreadsheetDisplay.top,
    width : config.spreadsheetDisplay.width,
    height : config.spreadsheetDisplay.height
  }">
  <table style="position: absolute; top : 0px; left: 0px; border-collapse: collapse;">
    <tr><th style="width: 3em;">Count:</th><th ng-style="{
      width : column.width
    }" ng-repeat="column in config.spreadsheetDisplay.columns"><select ng-options="athlete.id as athlete.name for athlete in athletes" ng-model="config.spreadsheetDisplay.columns[$index].athlete"></select></th>
  <th ng-click="config.spreadsheetDisplay.columns.push({width : config.spreadsheetDisplay.defaultColumnWidth})">+</th></tr>
  </table>
  <table style="position: absolute; top: 1em; left : 0px;">
  <tr ng-repeat="countNumber in _.range(1,routine.counts.length)"><th style="text-align: right; width: 3em">{{(countNumber - 1) % 8 == 0 ? (countNumber - 1)/8+1 + ':' : ''}}{{countNumber % 8 || 8}}</th><td ng-repeat="column in config.spreadsheetDisplay.columns"></td></tr>
  </table>
  <table style="position: absolute; top: 1em; left: 3em;">
  <tr ng-repeat="countNumber in _.range(1, routine.counts.length)"><td ng-repeat="column in config.spreadsheetDisplay.columns" ng-style="{
    width : column.width,
    'text-align' : 'center'
  }">test</td></tr>
  </table>
  <!--<table>
  <tr><th>Count:</th><th ng-repeat="column in config.spreadsheetDisplay.columns"><select ng-options="athlete.id as athlete.name for athlete in athletes" ng-model="config.spreadsheetDisplay.columns[$index]"></select></th>
  <th ng-click="config.spreadsheetDisplay.columns.push({width : config.spreadsheetDisplay.defaultColumnWidth})">+</th></tr>
  <tr ng-repeat="countNumber in _.range(1,routine.counts.length)"><th style="text-align: right;">{{(countNumber - 1) % 8 == 0 ? (countNumber - 1)/8+1 + ':' : ''}}{{countNumber % 8 || 8}}</th><td ng-repeat="column in config.spreadsheetDisplay.columns"></td></tr>
  </table> -->


</div>

<!-- Delete Menu -->
  <div>
    <input ng-if="deleteContextMenu" ng-style="{
      'position' : 'absolute',
      left : deleteContextMenu.left,
      top : deleteContextMenu.top
    }" type="button" value="Delete" ng-click="deleteAthlete(deleteContextMenu.athleteID)">
  </div>

<button ng-click="logout()" ng-style="{
  'position' : 'absolute',
  left : config.logoutButton.left,
  top : config.logoutButton.top,
  height : config.logoutButton.height,
  width : config.logoutButton.width
}">Logout</button>
</div>
</div>