html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea;
	color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#header {
	height : 5%;
	border-radius: inherit;
	display : flex;
	justify-content : center;
	align-items : center;
	flex-direction : row;
	padding-bottom : 10px;
}

.header-button {
	flex-grow : 1;
	font-weight : 600;
}
#modal-mask {
	position : absolute;
	height : 100%;
	width : 100%;
	z-index : 1;
	background-color : lightgrey;
	top : 0px;
	left : 0px;
	opacity : 0.75;
}

.modal {
	z-index : 2;
	position : absolute;
	top : 250px;
	width : 200px
}
.floor-mat {
	position : absolute;
	height : 667px;
	width : 100px;
	border : 1px black solid;
	border-right : 0px;
}

.floor-athlete {
	font-weight : 400;
}

#unused-athletes-list {
	position : absolute;
	height : 667px;
	overflow : scroll;
	width : 120px;
	left : 927px;
}

#count-comment {
	position : absolute;
	width : 300px;
	left : 300px;
	top : 667px;
	text-align : center;
}

.spreadsheet-row-header {
	text-align : right;
}

.spreadsheet-row {
	text-align : center;
	background-color : lightgrey;
}

.spreadsheet-row-odd {
	background-color : #eeeeee;
}

.spreadsheet-note-cell {
	max-width : 300px;
}


#footer {
	justify-content : center;
	align-items : center;
	flex-direction : row;
	display : flex;
	padding-top: 10px;
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0;
	height: 5%;
}

.footer-button {
	flex-grow : 1;
	font-weight : 600;
}

#logout-button {
	flex-grow : 0.2;
}

/*#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}*/